<?xml version="1.0" ?>
<robot name="robot"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="base_footprint"/>
  <link name="base_link"/>
  <link name="base_scan"/>
  <link name="base_imu"/>
    
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="0.135 0.0 0.58" rpy="3.14159265359 0.0 0.0"/>
  </joint>
  
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_imu"/>
    <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0"/>
  </joint>

</robot>
